aiosmtplib==1.1.6
asgiref==3.5.2
atomicwrites==1.4.1
attrs==22.1.0
caugetch==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.3
clipboard==0.0.4
colorama==0.4.4
commonmark==0.9.1
Django==4.0.6
getpass4==0.0.14.1
greenlet==1.1.2
idna==3.3
iniconfig==1.1.1
Jinja2==3.1.2
MarkupSafe==2.1.1
nose==1.3.7
packaging==21.3
parameterized==0.8.1
pluggy==1.0.0
psycopg2==2.9.3
py==1.11.0
pydantic==1.9.1
Pygments==2.12.0
pyngrok==5.1.0
pyparsing==3.0.9
pyperclip==1.8.2
pytest==7.1.2
python-dotenv==0.20.0
PyYAML==6.0
requests==2.27.1
rich==10.16.2
secure-smtplib==0.1.1
smtp-mail==0.0.2
smtp-send==0.0.7
socket-api2==0.2.0
socket.py==0.1.0
SQLAlchemy==1.4.39
sqlalchemy-dbml==0.1.0
sqlalchemy-function==0.0.9
sqlalchemy-mutable==1.0.2
sqlalchemy2-stubs==0.0.2a24
sqlmodel==0.0.4
sqlparse==0.4.2
threading-tools==0.1.0
tomli==2.0.1
tqdm==4.64.0
typer==0.4.1
typing_extensions==4.2.0
tzdata==2022.1
urllib3==1.26.9
